.loginBgContainer {
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

.loginBgContainer::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2000px;
  height: 2000px;
  transform: translate(-50%, -50%);
  background: url('/assets/cat.01.gif') center center no-repeat;
  background-size: contain;
  pointer-events: none;
  opacity: 1;
  z-index: 0;
} 